In [1]:
from os import path
fname = path.expanduser('/Users/elishatam/Documents/Repos/python-projects/Data Science Foundations, Python Scientific Stack/Exercise Files/Ch04/04_02/track.csv')

In [2]:
print('c:\path\to\nowhere.csv')

c:\path	o
owhere.csv

In [3]:
print(r'c:\path\to\nowhere.csv')

c:\path\to\nowhere.csv

In [4]:
!ls -lh "$fname"

-rwxrwxrwx@ 1 elishatam  staff    43K Apr  7  2017 /Users/elishatam/Documents/Repos/python-projects/Data Science Foundations, Python Scientific Stack/Exercise Files/Ch04/04_02/track.csv

In [5]:
path.getsize(fname)

43844

In [6]:
path.getsize(fname) / (1<<10)

42.81640625

In [7]:
!head "$fname"

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219

In [8]:
with open(fname) as fp:
    for lnum, line in enumerate(fp):
        if lnum > 10:
            break
        print(line[:-1])

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219
2015-08-20 03:48:37.708,35.014515,32.519625,121.69999694824219

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv(fname)

In [11]:
len(df)

740

In [12]:
df.columns

Index(['time', 'lat', 'lng', 'height'], dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 4 columns):
time      740 non-null object
lat       740 non-null float64
lng       740 non-null float64
height    740 non-null float64
dtypes: float64(3), object(1)
memory usage: 23.2+ KB

In [14]:
df.head()

                      time        lat        lng      height
0  2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1  2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [15]:
df.dtypes

time       object
lat       float64
lng       float64
height    float64
dtype: object

In [16]:
df = pd.read_csv(fname, parse_dates=['time'])

In [17]:
df.dtypes

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [18]:
df.lat

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
5      35.014704
6      35.014657
7      35.014563
8      35.014549
9      35.014515
10     35.014505
11     35.014481
12     35.014472
13     35.014439
14     35.014432
15     35.014414
16     35.014400
17     35.014372
18     35.014365
19     35.014337
20     35.014331
21     35.014303
22     35.014306
23     35.014340
24     35.013531
25     35.013606
26     35.013630
27     35.013705
28     35.013730
29     35.013809
         ...
710    35.015705
711    35.015640
712    35.015617
713    35.015551
714    35.015533
715    35.015468
716    35.015444
717    35.015369
718    35.015343
719    35.015264
720    35.015238
721    35.015157
722    35.015129
723    35.015048
724    35.015023
725    35.014943
726    35.014916
727    35.014835
728    35.014810
729    35.014737
730    35.014709
731    35.014617
732    35.014584
733    35.014518
734    35.014484
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [19]:
df['lat']

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
5      35.014704
6      35.014657
7      35.014563
8      35.014549
9      35.014515
10     35.014505
11     35.014481
12     35.014472
13     35.014439
14     35.014432
15     35.014414
16     35.014400
17     35.014372
18     35.014365
19     35.014337
20     35.014331
21     35.014303
22     35.014306
23     35.014340
24     35.013531
25     35.013606
26     35.013630
27     35.013705
28     35.013730
29     35.013809
         ...
710    35.015705
711    35.015640
712    35.015617
713    35.015551
714    35.015533
715    35.015468
716    35.015444
717    35.015369
718    35.015343
719    35.015264
720    35.015238
721    35.015157
722    35.015129
723    35.015048
724    35.015023
725    35.014943
726    35.014916
727    35.014835
728    35.014810
729    35.014737
730    35.014709
731    35.014617
732    35.014584
733    35.014518
734    35.014484
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [20]:
df['lat'][0]

35.015021000000004

In [21]:
df.loc[0]

time      2015-08-20 03:48:07.235000
lat                           35.015
lng                          32.5196
height                         136.2
Name: 0, dtype: object

In [22]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [23]:
import numpy as np
df1 = pd.DataFrame(np.arange(10).reshape(5,2), columns=['x','y'], index=['a','b','c','d','e'])
df1

   x  y
a  0  1
b  2  3
c  4  5
d  6  7
e  8  9

In [24]:
df1.loc['a']

x    0
y    1
Name: a, dtype: int64

In [25]:
df1.loc['b':'d']

   x  y
b  2  3
c  4  5
d  6  7

In [26]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [27]:
df.index=df['time']
df.index

DatetimeIndex(['2015-08-20 03:48:07.235000', '2015-08-20 03:48:24.734000',
               '2015-08-20 03:48:25.660000', '2015-08-20 03:48:26.819000',
               '2015-08-20 03:48:27.828000', '2015-08-20 03:48:29.720000',
               '2015-08-20 03:48:30.669000', '2015-08-20 03:48:33.793000',
               '2015-08-20 03:48:34.869000', '2015-08-20 03:48:37.708000',
               ...
               '2015-08-20 04:20:18.844000', '2015-08-20 04:20:21.996000',
               '2015-08-20 04:20:22.897000', '2015-08-20 04:20:24.905000',
               '2015-08-20 04:20:25.835000', '2015-08-20 04:20:28.982000',
               '2015-08-20 04:20:29.923000', '2015-08-20 04:20:32.863000',
               '2015-08-20 04:20:33.994000', '2015-08-20 04:20:42.329000'],
              dtype='datetime64[ns]', name='time', length=740, freq=None)

In [28]:
df.loc['2015-08-20 04:18:54']

,time,lat,lng,height
time,,,,
2015-08-20 04:18:54.007,2015-08-20 04:18:54.007,35.015942,32.515209,117.099998
2015-08-20 04:18:54.893,2015-08-20 04:18:54.893,35.015937,32.515240,117.500000

In [29]:
import pytz

In [30]:
ts = df.index[0]

In [31]:
ts.tz_localize(pytz.UTC)

Timestamp('2015-08-20 03:48:07.235000+0000', tz='UTC')

In [32]:
ts.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Asia/Jerusalem'))

Timestamp('2015-08-20 06:48:07.235000+0300', tz='Asia/Jerusalem')

In [33]:
df.index = df.index.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Asia/Jerusalem'))

In [34]:
df.index[:10]

DatetimeIndex(['2015-08-20 06:48:07.235000+03:00',
               '2015-08-20 06:48:24.734000+03:00',
               '2015-08-20 06:48:25.660000+03:00',
               '2015-08-20 06:48:26.819000+03:00',
               '2015-08-20 06:48:27.828000+03:00',
               '2015-08-20 06:48:29.720000+03:00',
               '2015-08-20 06:48:30.669000+03:00',
               '2015-08-20 06:48:33.793000+03:00',
               '2015-08-20 06:48:34.869000+03:00',
               '2015-08-20 06:48:37.708000+03:00'],
              dtype='datetime64[ns, Asia/Jerusalem]', name='time', freq=None)

In [35]:
%pwd

'/Users/elishatam/Documents/Repos/python-projects/Data Science Foundations, Python Scientific Stack'

In [36]:
import geo

In [37]:
import sys

In [38]:
sys.path

['',
 '/anaconda3/lib/python36.zip',
 '/anaconda3/lib/python3.6',
 '/anaconda3/lib/python3.6/lib-dynload',
 '/anaconda3/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages/aeosa',
 '/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/elishatam/.ipython']

In [39]:
from geo import circle_dist

In [40]:
lat1, lng1 = df.iloc[0].lat, df.iloc[0].lng
lat2, lng2 = df.iloc[1].lat, df.iloc[1].lng

In [41]:
circle_dist(lat1, lng1, lat2, lng2)

0.007695103586769196

In [42]:
s = pd.Series(np.arange(5))

In [43]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [44]:
s.shift()

0    NaN
1    0.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [45]:
dist = circle_dist(df['lat'], df['lng'], df['lat'].shift(), df['lng'].shift())

In [46]:
dist.sum()

4.6881365592010695

In [47]:
dist[:10]

time
2015-08-20 06:48:07.235000+03:00         NaN
2015-08-20 06:48:24.734000+03:00    0.007695
2015-08-20 06:48:25.660000+03:00    0.009248
2015-08-20 06:48:26.819000+03:00    0.006479
2015-08-20 06:48:27.828000+03:00    0.006219
2015-08-20 06:48:29.720000+03:00    0.008010
2015-08-20 06:48:30.669000+03:00    0.006533
2015-08-20 06:48:33.793000+03:00    0.010545
2015-08-20 06:48:34.869000+03:00    0.002759
2015-08-20 06:48:37.708000+03:00    0.007336
dtype: float64

In [48]:
dt = df['time'] - df['time'].shift()

In [49]:
dt.sum()

Timedelta('0 days 00:32:35.094000')

Takes 32min to run 4.7km = 3mi

In [51]:
dt[1].total_seconds()

17.499000000000002

In [52]:
dt[1] / np.timedelta64(1, 'h')

0.004860833333333333

In [53]:
dt[1].total_seconds()/3600

0.004860833333333334

In [56]:
speed = dist / (dt / np.timedelta64(1,'h'))

In [58]:
speed[:10]

time
2015-08-20 06:48:07.235000+03:00          NaN
2015-08-20 06:48:24.734000+03:00     1.583083
2015-08-20 06:48:25.660000+03:00    35.954340
2015-08-20 06:48:26.819000+03:00    20.123165
2015-08-20 06:48:27.828000+03:00    22.187213
2015-08-20 06:48:29.720000+03:00    15.240609
2015-08-20 06:48:30.669000+03:00    24.781220
2015-08-20 06:48:33.793000+03:00    12.151207
2015-08-20 06:48:34.869000+03:00     9.230505
2015-08-20 06:48:37.708000+03:00     9.302840
dtype: float64

In [59]:
df[:10]

,time,lat,lng,height
time,,,,
2015-08-20 06:48:07.235000+03:00,2015-08-20 03:48:07.235,35.015021,32.519585,136.199997
2015-08-20 06:48:24.734000+03:00,2015-08-20 03:48:24.734,35.014954,32.519606,126.599998
2015-08-20 06:48:25.660000+03:00,2015-08-20 03:48:25.660,35.014871,32.519612,123.000000
2015-08-20 06:48:26.819000+03:00,2015-08-20 03:48:26.819,35.014824,32.519654,120.500000
2015-08-20 06:48:27.828000+03:00,2015-08-20 03:48:27.828,35.014776,32.519689,118.900002
2015-08-20 06:48:29.720000+03:00,2015-08-20 03:48:29.720,35.014704,32.519691,119.900002
2015-08-20 06:48:30.669000+03:00,2015-08-20 03:48:30.669,35.014657,32.519734,120.900002
2015-08-20 06:48:33.793000+03:00,2015-08-20 03:48:33.793,35.014563,32.519719,121.699997
2015-08-20 06:48:34.869000+03:00,2015-08-20 03:48:34.869,35.014549,32.519694,121.199997
2015-08-20 06:48:37.708000+03:00,2015-08-20 03:48:37.708,35.014515,32.519625,121.699997

In [63]:
df['dist']=dist
df['dt']=dt

In [64]:
df[:10]

,time,lat,lng,height,dist,dt
time,,,,,,
2015-08-20 06:48:07.235000+03:00,2015-08-20 03:48:07.235,35.015021,32.519585,136.199997,NaN,NaT
2015-08-20 06:48:24.734000+03:00,2015-08-20 03:48:24.734,35.014954,32.519606,126.599998,0.007695,00:00:17.499000
2015-08-20 06:48:25.660000+03:00,2015-08-20 03:48:25.660,35.014871,32.519612,123.000000,0.009248,00:00:00.926000
2015-08-20 06:48:26.819000+03:00,2015-08-20 03:48:26.819,35.014824,32.519654,120.500000,0.006479,00:00:01.159000
2015-08-20 06:48:27.828000+03:00,2015-08-20 03:48:27.828,35.014776,32.519689,118.900002,0.006219,00:00:01.009000
2015-08-20 06:48:29.720000+03:00,2015-08-20 03:48:29.720,35.014704,32.519691,119.900002,0.008010,00:00:01.892000
2015-08-20 06:48:30.669000+03:00,2015-08-20 03:48:30.669,35.014657,32.519734,120.900002,0.006533,00:00:00.949000
2015-08-20 06:48:33.793000+03:00,2015-08-20 03:48:33.793,35.014563,32.519719,121.699997,0.010545,00:00:03.124000
2015-08-20 06:48:34.869000+03:00,2015-08-20 03:48:34.869,35.014549,32.519694,121.199997,0.002759,00:00:01.076000
2015-08-20 06:48:37.708000+03:00,2015-08-20 03:48:37.708,35.014515,32.519625,121.699997,0.007336,00:00:02.839000

In [65]:
df1m = df.resample('1min').sum()

In [66]:
df1m[:10]

                                   lat         lng       height      dist
time
2015-08-20 06:48:00+03:00   735.305982  682.909176  2578.099991  0.118359
2015-08-20 06:49:00+03:00   105.042949   97.556914   368.900002  0.017011
2015-08-20 06:50:00+03:00   805.323270  747.896930  2635.199989  0.278874
2015-08-20 06:51:00+03:00  1050.415915  975.487935  3199.600014  0.170440
2015-08-20 06:52:00+03:00  1050.382332  975.454219  2931.299995  0.171151
2015-08-20 06:53:00+03:00   560.211849  520.224758  1669.299988  0.159015
2015-08-20 06:54:00+03:00  1050.370751  975.401436  2946.999992  0.183698
2015-08-20 06:55:00+03:00   980.302707  910.358275  2441.100006  0.178532
2015-08-20 06:56:00+03:00   525.144978  487.685615  1239.100006  0.089228
2015-08-20 06:57:00+03:00   630.175160  585.203880  1591.400002  0.167214

In [67]:
df1m.index

DatetimeIndex(['2015-08-20 06:48:00+03:00', '2015-08-20 06:49:00+03:00',
               '2015-08-20 06:50:00+03:00', '2015-08-20 06:51:00+03:00',
               '2015-08-20 06:52:00+03:00', '2015-08-20 06:53:00+03:00',
               '2015-08-20 06:54:00+03:00', '2015-08-20 06:55:00+03:00',
               '2015-08-20 06:56:00+03:00', '2015-08-20 06:57:00+03:00',
               '2015-08-20 06:58:00+03:00', '2015-08-20 06:59:00+03:00',
               '2015-08-20 07:00:00+03:00', '2015-08-20 07:01:00+03:00',
               '2015-08-20 07:02:00+03:00', '2015-08-20 07:03:00+03:00',
               '2015-08-20 07:04:00+03:00', '2015-08-20 07:05:00+03:00',
               '2015-08-20 07:06:00+03:00', '2015-08-20 07:07:00+03:00',
               '2015-08-20 07:08:00+03:00', '2015-08-20 07:09:00+03:00',
               '2015-08-20 07:10:00+03:00', '2015-08-20 07:11:00+03:00',
               '2015-08-20 07:12:00+03:00', '2015-08-20 07:13:00+03:00',
               '2015-08-20 07:14:00+03:00', '2015-08-20 07:15:00+03:00',
               '2015-08-20 07:16:00+03:00', '2015-08-20 07:17:00+03:00',
               '2015-08-20 07:18:00+03:00', '2015-08-20 07:19:00+03:00',
               '2015-08-20 07:20:00+03:00'],
              dtype='datetime64[ns, Asia/Jerusalem]', name='time', freq='T')

In [70]:
df['dt'] = dt / np.timedelta64(1, 'h')
df1m = df.resample('1min').sum()
speed1m = df1m['dist'] / df1m['dt']

In [71]:
speed1m[:10]

time
2015-08-20 06:48:00+03:00     8.127204
2015-08-20 06:49:00+03:00     7.579874
2015-08-20 06:50:00+03:00     9.127708
2015-08-20 06:51:00+03:00    10.220254
2015-08-20 06:52:00+03:00    10.114795
2015-08-20 06:53:00+03:00     9.687816
2015-08-20 06:54:00+03:00    10.856153
2015-08-20 06:55:00+03:00    10.891833
2015-08-20 06:56:00+03:00    10.270188
2015-08-20 06:57:00+03:00     6.629179
Freq: T, dtype: float64